<nav>
  <div class="app-name">
    <a href="/">Undercover Chat</a>
  </div>
  <ul>
    <% if (user) { %>
    <li>
      <a href="/users/<%= user._id %>">Profile</a>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
    <% } else { %>
    <li>
      <a href="/users/login">Login</a>
    </li>
    <li>
      <a href="/users/signup">Sign Up</a>
    </li>
    <% } %>
  </ul>
</nav>
