<nav>
  <div>
    <a href="/">Undercover Chat</a>
    <p>A Members Only Message Board</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li>
      <a href="/messages">Messages</a>
    </li>
    <li>
      <a href="/users/login">Login</a>
    </li>
    <li>
      <a href="/users/logout">Logout</a>
    </li>
  </ul>
</nav>
