<nav
  class="navbar is-info"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a href="/" class="navbar-item is-size-3">Undercover Chat</a>
    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarMenu"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      <% if (currentUser) { %>
      <a href="/users/<%= user._id %>" class="navbar-item">Profile</a>
      <a href="/logout" class="navbar-item">Logout</a>
      <% } else { %>
      <a href="/messages/" class="navbar-item">Message Board</a>
      <a href="/users/login" class="navbar-item">Login</a>
      <a href="/users/signup" class="navbar-item">Sign Up</a>
      <% } %>
    </div>
  </div>
</nav>
