<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <section class="hero is-halfheight">
      <div class="hero-body">
        <div class="">
          <p class="title">Welcome to <%= title %></p>
          <p class="subtitle">A Secret Message Board</p>
        </div>
      </div>
    </section>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
