body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  background-color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

a {
  color: #f6f6f6;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #f6f6f6;
  color: #333;
}

.app-name {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.main {
  font-size: 1.2em;
  padding: 2rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  color: #333;
}

.profile-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #f6f6f6;
}

.profile-main header {
  font-size: 1.5em;
  font-weight: bold;
}

.profile main {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.profile li {
  margin: 1rem 0;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile a {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.profile a:hover {
  background-color: #333;
  color: white;
}

h1 {
  font-size: 2em;
  margin: 0;
}

p {
  font-size: 1.2em;
  margin: 0;
}

li {
  font-size: 1.2em;
  list-style: none;
}

form {
  width: 40%;
  margin: 0 auto;
  text-align: left;
}

.form-group {
  margin-bottom: 2rem;
}

label {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
}

input {
  padding: 0.5rem;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  display: block;
  margin-top: 1rem;
  padding: 0.75rem;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background-color: #00b7ff;
  color: white;
  cursor: pointer;
}

.main-links a {
  color: #333;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  background-color: #333;
  color: #f6f6f6;
}
