<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>
    <section class="section">
      <div class="container">
        <p class="title">Sign Up</p>
        <form action="/users/signup" method="post" class="box">
          <div class="field">
            <label class="label">First Name</label>
            <div class="control">
              <input
                type="text"
                name="firstName"
                class="input"
                required
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
              <input
                type="text"
                name="lastName"
                class="input"
                required
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input
                type="email"
                name="email"
                class="input"
                required
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input
                type="text"
                name="username"
                class="input"
                required
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input
                type="password"
                name="password"
                class="input"
                required
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control">
              <input
                type="password"
                name="confirmPassword"
                class="input"
                required
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-info">
                Sign Up
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
